<ul class="liner">
    {{#liner tracks}}
        {{@index}}
    {{/liner}}
</ul>
<ul class="wrapper">
    {{#each tracks}}
        <li class="track">
            <div class="content">
                <div class="line1">
                    <p class="keyword">the</p>
                    <a href="{{trackUrl}}" class="tracktitle" target="_blank">{{title}}_Track</a>
                </div>
                <div class="line2">
                    <p class="bracket">{</p>
                    <p class ="author">Author: <a href="{{authorUrl}}" class="authorlink" target="_blank">{{author}}</a></p>
                    <p class="bracket">}</p>
                </div>
            </div>
        </li>
    {{/each}}
</ul>




